<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Administrator</title>
  <meta name="description" content="">
  <meta name="author" content="xcode">

  <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="/css/style-admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/js/ckeditor.js"></script>
  <script src="/js/upload.js"></script>
</head>

<body>
  <div class="wrap-content">
    <div class="u-max-full-width">
      <header class="row">
        <h1>Quản lý website Hưng Thịnh</h1>
      </header>
    </div>

    <div class="u-max-full-width padding10px">
      <div class="row" style="position: relative">
        <aside class="three columns">
          <ul style="list-style: none">
            <li>
              <a id="gioi-thieu" href="gioi-thieu"><i class="fa fa-tags" aria-hidden="true"></i>Giới thiệu </a>
            </li>
            <li>
              <a id="cam-nang-sua-chua-nha" href="cam-nang-sua-chua-nha"><i class="fa fa-tags" aria-hidden="true"></i>Cẩm nang sửa chữa nhà</a>
            </li>
            <li>
              <a id="dich-vu-sua-chua-cai-tao" href="dich-vu-sua-chua-cai-tao"><i class="fa fa-tags" aria-hidden="true"></i>Dịch vụ sửa chữa cải tạo</a>
            </li>
            <li>
              <a id="don-gia" href="don-gia"><i class="fa fa-tags" aria-hidden="true"></i>Đơn giá</a>
            </li>
            <li>
              <a id="thuc-te" href="thuc-te"><i class="fa fa-tags" aria-hidden="true"></i>Thực tế </a>
            </li>
            <li>
              <a id="mang-luoi" href="mang-luoi"><i class="fa fa-tags" aria-hidden="true"></i>Mạng lưới </a>
            </li>
            <li>
              <a id="resource" href="resource"><i class="fa fa-tags" aria-hidden="true"></i>Tài nguyên</a>
            </li>

          </ul>
        </aside>
        <div class="add-button">
          <button class="circle-button" id="add-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>

        {{{body}}}

      </div>
    </div>

    <div class="u-max-full-width">
      <footer class="row">
        <span>admin-sua-chua-cai-tao-Hung-Thinh@2017</span>
      </footer>
    </div>
  </div>
  <script>
    $("#logoutbtn").click(function() {
      $.ajax({
        type: "GET",
        url: '/hungthinh-admin/logout',
        success: function(data, textStatus) {
          if (data = "success") {
            // data.redirect contains the string URL to redirect to
            window.location.href = "/hungthinh-admin";
          }
        }
      });
    })
  </script>
</body>

</html>
