<div>
    <a href="http://localhost:3000/">Trang chủ</a>/
    <a href="http://localhost:3000/lien-he">Liện hệ báo giá</a>
</div>
<br>
<div id="list-article">
    <div>
        <h1><span style="font-size:20px">LI&Ecirc;N HỆ SỬA CHỮA CẢI TẠO HƯNG THỊNH</span></h1>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><strong>X&Acirc;Y DỰNG CẢI TẠO HƯNG THỊNH</strong></span></p>

        <p><span style="font-size:14px"><strong>WEB: </strong>xaydungcaitao.com</span></p>

        <p><span style="font-size:14px"><strong>EMAIL: </strong>xaydungvacaitao@gmail.com</span></p>

        <p><span style="font-size:14px"><strong>ĐIỆN THOẠI: </strong>09 789 52 621 - 0913 68 28 43</span></p>

        <p><span style="font-size:14px"><strong>TRỤ SỞ L&Agrave;M VIỆC:</strong> 59/160/51/23 KHU PHỐ 7, ĐƯỜNG 102, PHƯỜNG TĂNG NHƠN PH&Uacute; A, QUẬN 9, TP. HỒ CH&Iacute; MINH</span></p>

        <p><span style="font-size:14px"><strong>LI&Ecirc;N HỆ NGAY ĐỂ ĐƯỢC TƯ VẤN MIỄN PH&Iacute; 24/24.</strong></span></p>

        <p>&nbsp;</p>

        <p style="text-align:right"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;xaydungcaitao.com</strong></p>


    </div>

</div>