<div>
    {{{linkbar}}}
</div>
<div class="social">
	<span class="Facebook">
    <div class="fb-like" data-href="http://xaydungcaitao.com" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
	</span>
  <span class="google">
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
	</span>
</div>
<br>
<div id="body-content">
    {{{body}}}
</div>

<div id="footer-content">
	{{{footer}}}
</div>

<div>
    {{{footer2}}}
</div>
