<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn" dir="ltr" >
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' rel="stylesheet" />
  	<link href="/css/home.css" type="text/css" rel="stylesheet" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/layout.js"></script>
    <script src="/js/homepage.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
  </head>

	<body>
		<div class = 'site' id = 'page' style="transform: none;">
			<div class="navbar at-navbar" id="navbar" role="navigation" style="margin-bottom: 0">
	            <div class="container">
	                <div class="row">
	                    <div class="col-sm-12" style="padding-left: 0; padding-right:0">
	                        <div class="navbar-header" style="padding: 0px">
	                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i>
	                            </button>
	                            <a href=#" class="custom-logo-link" rel="home" itemprop="url">
	                            	<img src="../images/header-back-ground.jpg" alt="sửa chữa cải tạo" width="100%" class="custom-logo" alt="" itemprop="logo">
	                            </a>                        
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="container" style="padding-left: 0px; padding-right: 0px;">
	            	<nav class="scroll-menu">
				        <div class="container">
				            <ul class="nav navbar-nav">
				                <li class="menu"> 
				                    <button class="btn btn-default dropdown-toggle active" type="button" data-toggle="dropdown">Trang chủ</button>
				                </li>
				                <li class="menu"> 
				                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Giới thiệu</button
				                </li>

				                <li class="menu"> 
				                    <div class="dropdown">
				                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Đơn giá sửa chữa cải tạo
				                        <span class="caret"></span></button>
				                        <ul class="dropdown-menu">
				                          <li><a href="#">Sửa chữa cải tạo nhà trọn gói</a></li>
				                          <li><a href="#">Sửa chữa cải tạo sân vườn</a></li>
				                          <li><a href="#">Sửa chữa cải tạo phòng khách</a></li>
				                          <li><a href="#">Sửa chữa cải tạo phòng bếp</a></li>
				                          <li><a href="#">Sửa chữa cải tạo phòng ngủ</a></li>
				                          <li><a href="#">Sửa chữa cải tạo nhà vệ sinh</a></li>
				                          <li><a href="#">Sửa chữa cải tạo ban công</a></li>
				                          <li><a href="#">Sửa chữa cải tạo mái</a></li>
				                        </ul>
				                    </div>
				                </li>
				                <li class="menu"> 
				                    <div class="dropdown">
				                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Đơn giá xây dựng mới
				                        <span class="caret"></span></button>
				                        <ul class="dropdown-menu">
				                          <li><a href="#">Báo giá xây dựng phần thô</a></li>
				                          <li><a href="#">Báo giá phần hoàn thiện</a></li>
				                          <li><a href="#">Những điểm cần lưu ý</a></li>
				                        </ul>
				                    </div>
				                </li>
				                <li class="menu"> 
				                    <div class="dropdown">
				                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Đơn giá thiết kế
				                        <span class="caret"></span></button>
				                        <ul class="dropdown-menu">
				                          <li><a href="#">Thiết kế nhà trọn gói</a></li>
				                          <li><a href="#">Thiết kế kiến trúc</a></li>
				                          <li><a href="#">Thiết kế kết cấu</a></li>
				                          <li><a href="#">Thiết kế điện nước(ME)</a></li>
				                          <li><a href="#">Thiết kế nội thất</a></li>
				                        </ul>
				                    </div>
				                </li>
				                <li class="menu"> 
				                    <div class="dropdown">
				                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Thực tế
				                        <span class="caret"></span></button>
				                        <ul class="dropdown-menu">
				                          <li><a href="#">Hình ảnh sửa chữa cải tạo</a></li>
				                          <li><a href="#">Video sửa chữa cải tạo</a></li>
				                          <li><a href="#">Kinh nghiệm sửa chữa cải tạo</a></li>
				                        </ul>
				                    </div>
				                </li>
				                <li class="menu"> 
				                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Khách hàng</button>
				                </li>
				                <li class="menu"> 
				                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mạng lưới
				                </li>
				                <li class="menu"> 
				                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Liên hệ báo giá</button>
				                </li>
				            </ul>
				        </div>
			    	</nav>
	            </div>
	        </div>
       	<div class="container border">   
		    <div class="body-border">
		        <div class="row">
		            <div class="col-md-3 menu-left">
		                <div class="list-group">
		                    <a href="#" class="list-group-item active">Dịch vụ sửa chữa cải tạo</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo nhà trọn gói</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo sân vườn</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo phòng khách</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo phòng bếp</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo phòng ngủ</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo nhà vệ sinh</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo ban công</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo mái</a>
		                </div>
		                <div class="list-group">
		                    <a href="#" class="list-group-item active">Dịch vụ xây dựng mới</a>
		                    <a href="#" class="list-group-item">Xây dựng nhà trọn gói</a>
		                    <a href="#" class="list-group-item">Xây dựng phần thô</a>
		                    <a href="#" class="list-group-item">Xây dựng phần hoàn thiện</a>
		                    <a href="#" class="list-group-item">Trang trí nội thất</a>
		                </div>
		                <div class="list-group">
		                    <a href="#" class="list-group-item active">Dịch vụ thiết kế</a>
		                    <a href="#" class="list-group-item">Thiết kế kiến trúc</a>
		                    <a href="#" class="list-group-item">Thiết kế kết cấu</a>
		                    <a href="#" class="list-group-item">Thiết kế điện nước(ME)</a>
		                    <a href="#" class="list-group-item">Thiết kế nội thất</a>
		                </div>
		            </div>

		            <div class="col-md-6 main-content">
		               {{{body}}}
		            </div>

		            <div class="col-md-3 menu-right">
		               
		                <div class="list-group">
		                    <a href="#" class="list-group-item active">Dịch vụ tư vấn miễn phí</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo nhà trọn gói</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo sân vườn</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo phòng khách</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo phòng bếp</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo phòng ngủ</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo nhà vệ sinh</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo ban công</a>
		                    <a href="#" class="list-group-item">Sửa chữa cải tạo mái</a>
		                </div>

		                <div class="list-group">
		                    <a href="#" class="list-group-item active">Tin tức</a>
		                    <a href="#" class="list-group-item">Cách chống thấm nước đơn giản cho ngôi nhà của bạn</a>
		                    <a href="#" class="list-group-item">Loại sơn phù hợp với từng loại nhà</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="container black">
	        <div class="col-md-4">
	            <div class="footer-widget info-widget">
	                <h3>VỀ CHÚNG TÔI</h3>
	                <p>Chúng tôi là chuyên gia trong lĩnh vực Tư vấn – Thiết kế – Thi công Kiến trúc và Nội ngoại thất.Chúng tôi có một đội ngũ kiến trúc sư,nhà thiết kế nội thất,thiết kế kiến trúc-xây dựng chuyên nghiệp và đã có nhiều công trình thực tế tiêu biểu.</p>
	            </div>
	        </div>
	        <div class="col-md-4">
	            <div class="footer-widget">
	                <h3>LĨNH VỰC HOẠT ĐỘNG</h3>
	                <ul class="tag-list">
	                    <li><a href="http://catnghi.vn/vn/page/phong-khach">Xây dựng</a></li>
	                    <li><a href="http://catnghi.vn/vn/page/bep-phong-an">Sửa chữa cải tạo</a></li>
	                    <li><a href="http://catnghi.vn/vn/page/phong-ngu">Tư vấn thiết kế</a></li>
	                    <li><a href="http://catnghi.vn/vn/page/phong-tre-em">Tư vấn xây dựng</a></li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-md-4">
	                <div class="footer-widget">
	                <h3>THÔNG TIN LIÊN HỆ</h3>
	                <p>Đơn vị sửa chữa cải tạo Hưng Thịnh</p>
	                <p>Trụ sở: 59/160/23/51 đường 102 phường Tăng Nhơn Phú A, Quận 9</p>
	                <p>Hotline: 0933 789 712</p>
	            </div>
	        </div>
	        <div class="clear"></div>

	        <div class="col-md-12">
	            <p class="copyright" style="font-size: 11px; text-align: center;vertical-align: middle;line-height: 90px; ">
	                © HƯNG THỊNH - ĐƠN VỊ CHUYÊN SỬA CHỮA CẢI TẠO NHÀ Ở - NĂM 2017 
	            </p>
	        </div>
	    </div>
	</body>

</html>
