div.container {
    margin: 0 auto;
    background: #fff;
}

.header {
    color: black;
    padding: 0px;
    /*background-image: url("../images/header.png");*/
    clear: left;
}

.head {
  padding: 0 !important;
  background-color: #184575!important;
}


nav {
    float: left;
    margin: 0;
    padding:5px 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

.menu {
  border-width: 1px;
  border-radius: 5px;
  border-color: #3B5998;
  margin-left: 2px;
}

.active {
  /*background-color: #3B5998 !important;*/
}

.border {
  outline: 1px solid black;
  padding: 0px !important;
}

.body-border {
  outline: 1px solid black;
  padding: 15px!important;
}

