body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #333132 !important;

	font-style: normal;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.75;
}
.navbar {
	transition: all 0.2s ease-out 0s;
	z-index: 3000;
	margin-bottom: 0;
	border: none;
}

.menu-left, .menu-right {
  width: 22% !important;
}

.main-content {
  /* width: 56% !important; */
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-top {
	padding-top: 0px !important;
}

.no-margin-top {
	margin-top: 0px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.padding-15 {
	padding-left: 15px;
}

.main-title {
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.sticky {
    position:fixed;
    top:0;
    width: 1170px;
    background-color: #fff;
}

.hotline{
	position: fixed;
	bottom: 10px;
	right: 50px;
	z-index: 9999;
}
.hotlineClose{
	float:right;
}
.hotlineInfo{
	background-color: orangered;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
}
.hotlineInfo strong{
	color: white;
}
.list-group a>span{
	display: inline-block;
}

.list-group a:hover:not(.active) span{
	transform: scale(1.1);
	color:orangered !important;
}

.list-group-menu a:hover:not(.active) {
	transform: scale(1.007);
	color:orangered !important;
}

.distance-5 {
  height: 5px;
}

.distance-10 {
  height: 10px;
}

.menu-color {
	background: #008000 !important;
}

div.container {
    margin: 0 auto;
    background: #fff;
}

.text-color-white {
	color: #fff;
}

.phone-strong {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}

.padding-10 {
	padding: 10px;
}

.padding-left-20 {
	padding-left: 20px;
}

.margin-10 {
	margin: 10px;
}

.margin-0 {
	margin: 0px;
}

.padding-0 {
	padding: 0px;
}

.margin-buttom-10 {
	margin-bottom: 10px;
}

.content-background-color {
	background-color: #eeeded;
}

.background-image {
	background-image: url("../images/sua-chua-cai-tao-background.png");
}

.border {
  padding: 0px !important;
}

.body-border {
  padding: 15px!important;
}

.list-group-item.active {
	background-color: #008000 !important;
    border-color: #008000 !important;
    font-size: 16px !important;
}

* {
	box-sizing: border-box;
}

figure {
	margin: 10px 0;
}

/* Never exceed parent's size. */
figure, img {
	max-width: 100%;
	/*height: auto;*/
}

/* Let the image have figure's size. */
figure img {
	max-width: 100%;
	height: auto;
}

/* Image narrow style. */
figure.image-narrow img, img.image-narrow {
	max-width: 300px;
	height: auto;
}

/* Image wide style. */
figure.image-wide img, img.image-wide {
	max-width: 500px;
	height: auto;
}

/* Image alignment styles. */
.image-align-right {
	float: right;
	margin-left: 20px;
}

.image-align-left {
	float: left;
	margin-right: 20px;
}

.image-align-center {
	text-align: center;
}

.image-align-center > figure {
	display: inline-block;
}

/* Embed narrow style. */
.embed-narrow {
	width: 75%;
}

/* Embed center style. */
.embed-align-center {
	margin-left: auto;
	margin-right: auto;
}

.mySlides {display:none;}

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

.img_banner {
    width: 30%;
    float: left;
}

.title_banner {
	width: 70%;
    float: left;
}

.list-group a>.list {
    display: inline-block;
}

.container1 {
	height:300px; padding:0; overflow:hidden;
}

.wrap {
    height: 300px;
    border: 1px solid red;
    overflow: hidden;
}

.autoScroll {
    overflow: hidden;
}

.autoScroll a {
    display: block;
}

.right {
		float: right;
}

/* This gets Google to fall into place */
.social {
	font-size: 1px;
}

.social iframe,.social>span {
	vertical-align: middle;
}

/* This gets Facebook to fall into place */
.social iframe {
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
	display: inline-block;
	width: 110px;
}

/* Adjust the widths individually if you like */
.social .google {
	width: 75px;
}

.container-content {
	display: flex;
}
.container-image {
	flex: 1;
	margin: 5px;
	border: 0.5px solid #73AD21;
	padding-top: 20px;
	padding-bottom: 20px;
}

.container-content-each {
	width: 33%;
	text-align: center;
}
.container-image > img {
	width: 200px;
	margin: auto;
}

.special-price {
	text-decoration: line-through;
}

.top_content {
	display: flex;
}

.top_content {
	display: flex;
	margin: auto;
}

.image-product-detail {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 1px;  /* Rounded border */
	width: 300px; /* Set a small width */
}

.info-product-detail {
    margin-left: 80px;
}

.product-description-content .menu-product{
	width: 100px;
}

.product-description-content {
	display: flex;
}

.content-product-detail-footer {
	margin: 50px;
}
