body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #333132 !important;

	font-style: normal;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.75;
}

a {
  color: #00B7FF;
}

.socials li {
    display: inline-block;
}

.navbar {
    background: #fff;
    transition: all 0.2s ease-out 0s;
    z-index: 3000;
    margin-bottom: 0;
    border: none;
}

.main-navigation {
    padding-right: 15px!important;
    -webkit-box-shadow: 0px 10px 4px -10px rgba(238,238,238,0.9);
    -moz-box-shadow: 0px 10px 4px -10px rgba(238,238,238,0.9);
    box-shadow: 0px 10px 4px -10px rgba(238,238,238,0.9);
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    display: inline-block;
    position: relative;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    border-bottom: 2px solid #fff;
}

.navbar {
	background-color: #333132 ;
	transition: all 0.2s ease-out 0s;
	z-index: 3000;
	margin-bottom: 0;
	border: none;
}
.navbar-header {
	max-width: 100%;
	text-align: center;
	float: none;
	padding: 40px 0;
}
.custom-logo-link {
	display: block;
}
.navbar-brand > img {
	display: block;
	max-height: 55px;
	max-width: 310px;
}
.navbar-fixed-top{
	background: rgba(255,255,255,1);
}
.navbar .navbar-brand {
	margin: 0 0 0 15px;
	padding: 0;
	max-width: 40%;
}
.navbar .navbar-toggle {
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	font-size: 22px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: medium none;
	position: absolute;
	right: 0;
	top: 24%;
	z-index: 999;
	padding: 4px 10px;
	transition: all 0.2s ease-out 0s;
}
.navbar .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-nav{
	float: none;
	text-align: center;
}
.navbar-nav > li{
	float: none;
	border-bottom: 2px solid #fff;
}
.nav > li > a:focus {
	background-color: transparent;
}

.main-navigation{
	padding-right: 15px!important;
	-webkit-box-shadow: 0px 10px 4px -10px rgba(238,238,238,0.9);
	-moz-box-shadow: 0px 10px 4px -10px rgba(238,238,238,0.9);
	box-shadow: 0px 10px 4px -10px rgba(238,238,238,0.9);
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	display: inline-block;
	position: relative;
}
.main-navigation a {
	display: block;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;

}
.navbar-nav > li > a{
	line-height: 2;
}
.main-navigation > .navbar-nav >ul >li> a{
	margin: 10px 0;
}

/*submenu*/
.navbar-nav > li.menu-item-has-children > a::after{
	color: #000;
	content: "\f107";
	font-family: FontAwesome;
	font-size: 14px;
	margin-left: 7px;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	left: -999em;
	z-index: 99999;
	background: #fff;
	text-align: left;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}

.main-navigation ul ul ul {
	top: 0;
}
.main-navigation ul ul a {
	font-size: 14px;
	padding: 12px 18px;
	width: 200px;
	color: #000;
}

.main-navigation li:hover > a {
	background: rgba(0,0,0,0);
}

.main-navigation ul ul a:hover {
	background: #f7f7f7;
}

.main-navigation ul li:hover > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul {
	left: 100%;
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
	.main-navigation a {
		font-size: 16px;
		padding: 18px 23px;
	}
}
@media screen and (max-width: 1023px) {
	.navbar  .container > .navbar-collapse,
	.navbar  .container > .navbar-header{
		margin: 0;
	}
	.main-navigation{
		float: none;
		background: #fff;
	}
	.navbar{
		margin-bottom: 0;


	}
	.navbar-nav{
		text-align: left;
	}
	.main-navigation li {
		float: none;
		display: block;
		border-top: 1px solid #999;
	}

	.main-navigation.toggled .nav-menu {
		background: none repeat scroll 0 0 #000;
	}

	.main-navigation ul ul {
		display: block;
		float: none;
		position: static;
		text-align: left;
		box-shadow: none;
	}

	.main-navigation ul ul li{
		padding-left: 25px;
	}

	.main-navigation ul ul li a {
		display: block;
		width: auto;
	}
	.main-navigation ul ul a:hover {
		background: rgba(0, 0, 0, 0);
	}
	.main-navigation a {
		padding: 6px 10px;
		font-size: 12px;
	}
}
@media screen and (max-width: 767px){
	.navbar .navbar-toggle {
		font-size: 16px;
		top: 0;
	}
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-next,
.post-navigation .nav-next{
	width: 40%;
}
.posts-navigation .nav-previous,
.post-navigation .nav-previous{
	float: left;
}
.posts-navigation .nav-next,
.post-navigation .nav-next{
	float: right;
	text-align: right;
}

.sticky {
    position:fixed;
    top:0;
    width: 1170px;
    background-color: #fff;
}
.hotline{
	position: fixed;
	bottom: 0px;
	right: 20px;
	z-index: 9999;
}
.hotlineClose{
	float:right;
}
.hotlineInfo{
	background-color: orangered;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
}
.hotlineInfo strong{
	color: white;
}
.list-group a>span{
	display: inline-block;
}
.list-group a:hover:not(.active) span{
	transform: scale(1.1);
	color:orangered !important;
}