<div>
    <aside class="widget">
        <section>
            <div class="main-title"><h3 class="widget-title"><a href="#">Giới thiệu</a></h3></div>
            <div class="row">
                <div class="blog-item col-sm-6">
                    <article>
                        <div class="content-wrapper">
                            <a href="#" class="full-image">
                            <img width="250" height="200" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                            </a> 

                            <header class="entry-header">
                                <h4 class="entry-title"><a href="#">New Jeans &amp; Shoe</a></h4>        
                            </header>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="entry-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>
                                            <div class="btn-wrapper clearfix">
                                                <div class="btn-icon-box">
                                                    <div class="btn-data">
                                                        <a class="btn-links" href="#">
                                                            Read More                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </article>
                </div>
                <div class="blog-item col-sm-6">
                    <article>
                        <div class="content-wrapper">
                            <a href="#" class="full-image">
                            <img width="250" height="200" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                            </a> 

                            <header class="entry-header">
                                <h4 class="entry-title"><a href="#">New Jeans &amp; Shoe</a></h4>        
                            </header>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="entry-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>
                                            <div class="btn-wrapper clearfix">
                                                <div class="btn-icon-box">
                                                    <div class="btn-data">
                                                        <a class="btn-links" href="#">
                                                            Read More                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </article>
                </div>
            </div>
            <div class="row">
                <div class="blog-item col-sm-6">
                    <article>
                        <div class="content-wrapper">
                            <a href="#" class="full-image">
                            <img width="250" height="200" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                            </a> 

                            <header class="entry-header">
                                <h4 class="entry-title"><a href="#">New Jeans &amp; Shoe</a></h4>        
                            </header>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="entry-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>
                                            <div class="btn-wrapper clearfix">
                                                <div class="btn-icon-box">
                                                    <div class="btn-data">
                                                        <a class="btn-links" href="#">
                                                            Read More                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </article>
                </div>
                <div class="blog-item col-sm-6">
                    <article>
                        <div class="content-wrapper">
                            <a href="#" class="full-image">
                            <img width="250" height="200" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                            </a> 

                            <header class="entry-header">
                                <h4 class="entry-title"><a href="#">New Jeans &amp; Shoe</a></h4>        
                            </header>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="entry-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>
                                            <div class="btn-wrapper clearfix">
                                                <div class="btn-icon-box">
                                                    <div class="btn-data">
                                                        <a class="btn-links" href="#">
                                                            Read More                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </article>
                </div>
            </div>
        </section>
    </aside>
</div>