<div>
	<div class="container">
		<div class="header">
		    <h1>SỬA CHỮA HƯNG THỊNH</h1>


		</div>
		<div>
			<ul class="nav nav-pills">
				<li role="presentation" class="active"><a href="#">Trang chủ</a></li>
				<li role="presentation"><a href="#">Giới thiệu</a></li>
				<li role="presentation"><a href="#">Đơn giá sửa chữa cải tạo</a></li>
				<li role="presentation"><a href="#">Đơn giá xây dựng mới</a></li>
				<li role="presentation"><a href="#">Đơn giá thiết kế</a></li>
				<li role="presentation"><a href="#">Hình ảnh</a></li>
				<li role="presentation"><a href="#">Khách hàng</a></li>
				<li role="presentation"><a href="#">Mạng lưới</a></li>
				<li role="presentation"><a href="#">Liên hệ</a></li>
		    </ul>
		</div>
		
	  	
	  	<div class="body row">
	  		<div>
				<nav>
				  <ul>
				    <li><a href="#">London</a></li>
				    <li><a href="#">Paris</a></li>
				    <li><a href="#">Tokyo</a></li>
				  </ul>
				</nav>
			</div>

			<article>
			  <h1>London</h1>
			  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
			  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
			</article>
		</div>
		<div class="footer">Copyright &copy; W3Schools.com</div>

	</div>

</div>