<div>
    <a href="/">Trang chủ</a>
</div>
<div>
    <aside class="widget">
        <section>
            <div class="row">
                <div class = "main-title padding-15 margin-top-20">
                    <h1 class="no-margin-top"><a href="/don-gia/don-gia-sua-chua-cai-tao/">Đơn giá sửa chữa cải tạo</a></h1>
                </div>
                {{{dongiasuachuacaitao}}}
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="distance-10"></div>

            <div class="clearfix"></div>
            <div class="distance-10"></div>

            <hr style="height: 1px; border-top-color: #337ab7">

            <div class="row">
                <div class = "main-title padding-15">
                    <h1 class="no-margin-top"><a href="/don-gia/don-gia-xay-dung-moi/">Đơn giá xây dựng mới</a></h1>
                </div>
                <div class="col-md-6">
                    <a href="" class="full-image">
                        <img width="300" height="200" src="" class="aligncenter wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-md-6 no-padding-left">
                    <header>
                        <h3 class="no-margin-top">
                            <a href="">Đơn giá xây dựng trọn gói</a>
                        </h3>
                    </header>
                    <div>
                        <div class="entry-content">
                            <p>Miễn phí giấy phép xây dựng, thiết kế kiến trúc</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <div class="row">
                <div class="blog-item col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Đơn giá xây dựng vật tư phần thô, nhân công phần thô và hoàn thiện</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Đơn giá xây dựng phần nhân công</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <hr style="height: 1px; border-top-color: #337ab7">

            <div class="row">
                <div class = "main-title padding-15">
                    <h1 class="no-margin-top"><a href="/mang-luoi/">Mạng lưới hoạt động</a></h1>
                </div>
                <div class="col-md-6">
                    <a href="" class="full-image">
                        <img width="300" height="200" src="" class="aligncenter wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-md-6 no-padding-left">
                    <header>
                        <h3 class="no-margin-top">
                            <a href="">Sửa chữa cải tạo tại quận 9</a>
                        </h3>
                    </header>
                    <div>
                        <div class="entry-content">
                            <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 9, ví dụ như: Cải tạo mặt bằng thành showroom, cải tạo sửa chữa mặt tiền nhà, sửa chữa cải tạo căn hộ chung cư...</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <div class="row">
                <div class="blog-item col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Sửa chữa cải tạo tại quận 7</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 12...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Sửa chữa cải tạo quận Phú Nhuận</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 12...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <hr style="height: 1px; border-top-color: #337ab7">

            <div class="row">
                <div class = "main-title padding-15">
                    <h1 class="no-margin-top"><a href="/thuc-te/">Dự án thực hiện</a></h1>
                </div>
                <div class="col-md-6">
                    <a href="/thuc-te/da-thi-cong" class="full-image">
                        <img width="300" height="200" src="" class="aligncenter wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-md-6 no-padding-left">
                    <header>
                        <h3 class="no-margin-top">
                            <a href="/thuc-te/da-thi-cong">Dự án đã thi công</a>
                        </h3>
                    </header>
                    <div>
                        <div class="entry-content">
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="distance-10"></div>

                <div class="col-md-6">
                    <a href="/thuc-te/dang-thi-cong" class="full-image">
                        <img width="300" height="200" src="" class="aligncenter wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-md-6 no-padding-left">
                    <header>
                        <h3 class="no-margin-top">
                            <a href="/thuc-te/dang-thi-cong">Dự án đang thi công</a>
                        </h3>
                    </header>
                    <div>
                        <div class="entry-content">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr style="height: 1px; border-top-color: #337ab7">

            <div class="row">
                <div class = "main-title padding-15">
                    <h1 class="no-margin-top"><a href="/don-gia/don-gia-xay-dung-moi/">Dịch vụ sửa chữa cải tạo</a></h1>
                </div>
                <div class="col-md-6">
                    <a href="" class="full-image">
                        <img width="300" height="200" src="" class="aligncenter wp-post-image" alt="">
                    </a>
                </div>
                <div class="col-md-6 no-padding-left">
                    <header>
                        <h3 class="no-margin-top">
                            <a href="">Sửa chữa cải tạo nhà trọn gói</a>
                        </h3>
                    </header>
                    <div>
                        <div class="entry-content">
                            <p>Miễn phí giấy phép xây dựng, thiết kế kiến trúc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <div class="row">
                <div class="blog-item col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Sữa chữa cải tạo nhà phố</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Sữa chửa cải tạo nhà cấp 4</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <hr style="height: 1px; border-top-color: #337ab7">

            <div class="row">
                <div class = "main-title padding-15">
                    <h1 class="no-margin-top"><a href="/thuc-te/">Dịch vụ thiết kế</a></h1>
                </div>
            </div>

            <div class="row">

            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <div class="row">
                <div class="blog-item col-sm-6 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Thiết kế nội thất</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-item col-sm-6 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Thiết kế kiến trúc</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-item col-sm-6 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Thiết kế kết cấu</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-item col-sm-6 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="" class="aligncenter wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="no-padding-top no-margin-top"><a href="#">Thiết kế điện nước(ME)</a></h4>
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Miễn phí thiết kế kiến trúc...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="distance-10"></div>
            <hr style="height: 1px; border-top-color: #337ab7">
        </section>
    </aside>
</div>
