<div>
    <a href="/">Trang chủ</a>
</div>
<div>
    <aside class="widget">
        <section>
            <div class="row">
                <div class = "main-title padding-15 margin-top-20">
                    <h1 class="no-margin-top"><a href="/thuc-te/da-thi-cong">Công trình đã thi công</a></h1>
                </div>
                {{{dathicong}}}
                <div class="clearfix"></div>
                <div class="distance-10"></div>
            </div>

            <hr style="height: 1px; border-top-color: #337ab7">

            <div class="row">
                <div class = "main-title padding-15">
                    <h1 class="no-margin-top"><a href="/thuc-te/dang-thi-cong">Công trình đang thi công</a></h1>
                </div>
                {{{dangthicong}}}
            </div>

        </section>
    </aside>
</div>
