<div>
    {{{linkbar}}}
</div>
<br>
<div id="list-article">
    <div class="row">
        <div>
            {{{content_head}}}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="distance-10"></div>
    <div>
        {{{content}}}
    </div>

</div>