<div>
    {{{linkbar}}}
</div>
<br>
<div id="list-article">
    <div class="row">
        <div class="col-md-6">
            <a href="">
                <img width="300" height="200" src="../images/sua-chua-cai-tao-hung-thinh.jpg" class="aligncenter wp-post-image" alt="sua-chua-cai-tao-hung-thinh">
            </a>
        </div>
        <div class="col-md-6 no-padding-left">          
            <header>
                <h3 class="no-margin-top">
                    <a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-hung-thinh">Sửa chữa cải tạo Hưng Thịnh</a>
                </h3>
            </header>
            <div>
                <div class="entry-content">
                    <p>Ngôi nhà là tổ ấm, là tài sản, là tâm huyết một đời của chủ nhân tạo ra nó. Chắc hẳn trong quá trình sử dụng sẽ có những hư hao theo thời gian...</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="distance-10"></div>
    <div>
        {{{content}}}
    </div>

</div>