<div>
    <a href="http://localhost:3000/">Trang chủ</a>
    /
    <a href="http://localhost:3000/gioi-thieu">Giới thiệu</a>
</div>
<br>
<div>
    <aside class="widget">
        <section>
            <div class="row">
                <div class="col-md-6">
                    <a href="">
                        <img width="300" height="200" src="../images/sua-chua-cai-tao-hung-thinh.jpg" class="aligncenter wp-post-image" alt="sua-chua-cai-tao-hung-thinh">
                    </a>
                </div>
                <div class="col-md-6 no-padding-left">          
                    <header>
                        <h3 class="no-margin-top">
                            <a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-hung-thinh">Sửa chữa cải tạo Hưng Thịnh</a>
                        </h3>
                    </header>
                    <div>
                        <div class="entry-content">
                            <p>Ngôi nhà là tổ ấm, là tài sản, là tâm huyết một đời của chủ nhân tạo ra nó. Chắc hẳn trong quá trình sử dụng sẽ có những hư hao theo thời gian...</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="distance-10"></div>

            <div class="row">
                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img alt="sua-chua-cai-tao-quan-1" src="../images/sua-chua-cai-tao-quan-1.jpg" style="height:100px; width: 100px" />            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top">
                                <a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-1">Sửa chữa và cải tạo quận 1</a>
                            </h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 1, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="../images/sua-chua-cai-tao-quan-2.jpg" alt="sua-chua-cai-tao-quan-2">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-2">Sửa chữa và cải tạo quận 2</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 2, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="../images/sua-chua-cai-tao-quan-7.jpg" alt="sua-chua-cai-tao-quan-7">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-7">Sửa chữa và cải tạo quận 7</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 7, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="../images/sua-chua-cai-tao-quan-thu-duc.jpg" class="aligncenter wp-post-image" alt="sua-chua-cai-tao-quan-thu-duc">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-thu-duc">Sửa chữa và cải tạo quận Thủ Đức</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận Thủ Đức, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="../images/sua-chua-cai-tao-quan-go-vap.jpg" alt="sua-chua-cai-tao-quan-go-vap">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-go-vap">Sửa chữa và cải tạo quận Gò Vấp</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận Gò Vấp, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-3">Sửa chữa và cải tạo quận 3</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 3, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-4">Sửa chữa và cải tạo quận 4</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 4, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-5">Sửa chữa và cải tạo quận 5</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 5, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-6">Sửa chữa và cải tạo quận 6</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 6, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-8">Sửa chữa và cải tạo quận 8</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 8, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 margin-buttom-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <div>
                                <a href="#" class="full-image">
                                    <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-9">Sửa chữa và cải tạo quận 9</a></h4>        
                            <div class="col-md-12 no-padding-left">
                                <div class="entry-content">
                                    <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 9, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:right">
                <ul class="pagination">
                   <li class="disabled"><a href="http://localhost:3000/gioi-thieu">1</a></li>
                   <li><a href="http://localhost:3000/gioi-thieu-2">2</a></li>
                   <li><a href="http://localhost:3000/gioi-thieu-3">3</a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>