<script src="../js/suachuacaitaoquan.js"></script>

<div>
    {{{linkbar}}}
</div>

<div id="body-content">
    {{{body}}}
</div>

<div>
	<div class="col-sm-12 margin-buttom-10">
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <a href="#" class="full-image">
                        <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                    </a> 
                </div>
            </div>
            <div class="col-sm-10">
                <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-2">Sửa chữa và cải tạo quận 2</a></h4>        
                <div class="col-md-12 no-padding-left">
                    <div class="entry-content">
                        <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 2, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="col-sm-12 margin-buttom-10">
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <a href="#" class="full-image">
                        <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                    </a> 
                </div>
            </div>
            <div class="col-sm-10">
                <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-3">Sửa chữa và cải tạo quận 3</a></h4>        
                <div class="col-md-12 no-padding-left">
                    <div class="entry-content">
                        <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 3, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 margin-buttom-10">
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <a href="#" class="full-image">
                        <img width="100" height="100" src="http://www.demo.acmethemes.com/read-more/wp-content/uploads/2016/11/feet-349687_1280-1-340x240.jpg" class="aligncenter wp-post-image" alt="">            
                    </a> 
                </div>
            </div>
            <div class="col-sm-10">
                <h4 class="no-padding-top no-margin-top"><a href="http://localhost:3000/gioi-thieu/sua-chua-cai-tao-quan-4">Sửa chữa và cải tạo quận 4</a></h4>        
                <div class="col-md-12 no-padding-left">
                    <div class="entry-content">
                        <p>Sửa chữa cải tạo nhà Hưng Thịnh chuyên thi công sửa chữa cải tạo các công trình tại Quận 4, như: Sửa chữa cải tạo căn hộ chung cư, sửa chữa cải tạo Shop thời trang...</p>     
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>

<div>
	<h4 style="margin:0">
		<a href="http://localhost:3000/gioi-thieu">Sửa chữa cải tạo Hưng Thịnh</a>
	</h4>
	<hr style="height: 1px; border-top-color: #000; margin:0">
	<ul>
		<li><a href="#">Sửa chữa cải tạo nhà quận 2</a></li>
		<li><a href="#">Sửa chữa cải tạo nhà quận 3</a></li>
		<li><a href="#">Sửa chữa cải tạo nhà quận Phú Nhuận</a></li>
		<li><a href="#">Sửa chữa cải tạo nhà quận 12</a></li>
		<li><a href="#">Sửa chữa cải tạo nhà quận 9</a></li>
		<li><a href="#">Sửa chữa cải tạo nhà quận Thủ Đức</a></li>
	</ul>

</div>